.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  grid-column: 1;
}

.header__links-list {
  display: flex;
  gap: 33px;
  margin-right: 36.52px;
  list-style: circle;
}

.header__link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: #000000;
  text-underline-offset: 3px;
}

.header__link-active {
  list-style-type: none;
}

.logo__link {
  display: block;
  grid-column: 2;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo {
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 238px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  opacity: 0.6;
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.cover__title {
  color: #FFF;
  z-index: 1;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  display: grid;
  padding: 173px 50px 0;
  gap: 25px;
}

.aligned-text {
  display: block;
}

.aligned-text__start-left {
  letter-spacing: 7px;
}

.aligned-text__start-right {
  letter-spacing: 28px;
}

.aligned-text__center {
  display: block;
  padding-left: 330px;
  padding-top: 10px;
}

.aligned-text__center-left {
  letter-spacing: 30px;
}

.aligned-text__center-right {
  letter-spacing: 30px;
  margin-left: -23px;
}

.aligned-text__end {
  display: block;
  text-align: end;
  padding-top: 8px;
}

.aligned-text__end-left {
  padding-right: 5px;
}

.aligned-text__end-medium {
  letter-spacing: 32px;
  margin-right: -27px;
}

.cover__description {
  color: #FFF;
  z-index: 1;
  padding: 0 50px 50px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-right: 31px;
}

.bet-button {
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFF;
  font-family: Raleway, sans-serif;
  min-width: 257px;
  min-height: 52px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.lots {
  margin: 180px 50px;
}

.lots__header {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 14px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  list-style: none;
  margin: 28px 0;
  flex-wrap: nowrap;
}

.card-link {
  text-decoration: none;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 596px;
  width: 334px;
  padding: 50px 40px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  color: #fff;
  font-size: 22px;
  line-height: 115%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 14px;
  text-decoration: none;
  border-bottom: 1px solid;
}

.about {
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 315px 1fr;
  justify-items: center;
  padding-top: 2px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  margin-top: -27px;
  margin-left: 21px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  padding-left: 43px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 75px 0;
}

.about__column-text {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-top: 23px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  max-width: 693px;
  max-height: 312px;
  white-space: pre-line;
}

.footer {
  display: flex;
  margin: 0 50px 90px;
  justify-content: space-between;
}

.footer__links-list {
  list-style: none;
  text-align: center;
  margin-right: 30px;
}

.footer__link {
  font-size: 18px;
  text-underline-offset: 3px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__menu {
  margin-left: 34px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}
