.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  grid-column: 1;
}

.header__links-list {
  display: flex;
  gap: 33px;
  margin-right: 36.52px;
  list-style: circle;
}

.header__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.header__item-active {
  list-style-type: none;
}

.logo__link {
  display: block;
  grid-column: 2;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo {
  height: 100%;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  width: 238px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  margin-bottom: 133px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 107px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: solid 1px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  position: relative;
  margin-bottom: 120px;
  padding: 0 24px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: auto;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding: 27px 0 30px 0;
  list-style: none;
}

.lots__card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 74px 25px 30px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.about {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 180px;
  padding: 35px 0 0 47px;
}

.about__logo {
  z-index: 1;
  display: flex;
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-right: 72px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__description {
  grid-column: 2/3;
  margin-right: 24px;
  padding-top: 98px;
  padding-left: 33px;
}

.about__title {
  margin-bottom: 100px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__description-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  gap: 154px;
  padding: 0 50px 82px;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer__link {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}